#headerImages { 
    display: block;
}

.headerBackgroundImage {} 

#rotateImageOne {}

#rotateImageTwo {}

#rotateImageThree {}

#rotateImageFour {}

.headerBackgroundImage .start{
    display: none;
}

.headerBackgroundImage .finish{
    display: none;
}


/* events base less */

.event 
{
  
  position:relative;
  width: 95%;
  margin:2%;
  
}

.eventTitle
{
  font-family: @subFontFamily;
	font-size: 1.25em;
	font-weight: bold;
}

.eventDetails
{
  padding-top:10px;
}

.eventDate
{
  font-family: @subFontFamily;
  font-weight:bold;
	font-size: 1em;
  color:#666;
  width:33%;
  padding-left:25px;
  float: left;
}

.eventTime
{
  font-family: @subFontFamily;
	font-size: 1em;
  font-weight:bold;
  color:#666;
  width:33%;
  padding-left:25px;
  float: left;
}

.eventDecription
{
  font-size: 1em;
  font-family: @mainFontFamily;
  color:#666;
  width:100%;
  padding-left:25px;
  padding-top:15px;
  line-height: 1.5em;
  clear: both;
}
/* * .allax-content applies the default syles needed for page content */

.allax-content {
    position: relative;
    width: 100vw;
    min-height: 50vh;
  background-color:white;
}


/* * .allax-image applies the syles needed to create the parallax effect CSS */

.allax-image {
    position: relative;
    width: 100vw;
    min-height: 50vh;
    /* Scale it nicely to the element */
    background-size: 100% 100%;
}


/* * .allax-image classes get replace by .allax-image-mobile in the allax.js code if the site is viewed on a mobile device */

.allax-image-mobile {
    position: relative;
    width: 100vw;
    min-height: 50vh;
    /* Scale it nicely to the element */
    background-size: 100% 100%;
}

/*************
*
*  Up Icon
*
*************/

#backToTop {
	position: fixed;
	right: 13px;
	bottom: 10px !important;
	height: 40px;
	width: 40px;
	z-index: 50;
  cursor: pointer;
}

#backToTop .dot
{
  height: 40px;
  width: 40px;
  background-color: @colorAlt;
  border-radius: 50%;
  display: inline-block;
}

#backToTop .dot .arrow {
	position: relative;
	top: 14px;
	left: 13px;
	border: solid white;
	border-width: 0 5px 5px 0;
	display: inline-block;
	padding: 5px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

/*************
*
*  Loading bar
*
*************/

#loadingBar { 
    width: 250px;
    height: 250px;
    z-index: 550;
    overflow: hidden;
}

#loadingBottom { 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 600px;
    overflow: hidden;
}

#loadingTop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 600px;
    overflow: hidden;
}

#loadingTopImageHolder {}

#loadingText {
  /*
    position: absolute;
    top: 585px;
    left: 0px;
    width: 500px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    font-family: "proxima-nova", sans-serif;
  */
}

#loadingText {
	position: absolute;
	top: 476px;
	left: -21px;
	width: 500px;
	height: 30px;
	overflow: hidden;
	text-align: center;
	font-family: "proxima-nova", sans-serif;
	font-weight: bold;
}

/*************
*
*  Header
*
*************/

#headHeight {
    position: fixed;
    height: 0vh;
    z-index: 25;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;

    background-color: @colorOne;
}

.headerDefault {
    height: 48px;
}

.headerInside {
    height: 48px;
}

#headerImages {}

#rotateImageOne,
#rotateImageTwo,
#rotateImageThree,
#rotateImageFour {
   /* display: none;*/
}

/*************
*
*  Logo
*
*************/


#logo {}

.logoDefault {
    display:none;
}

/*************
*
*  Page Design
*
*************/ 

#design {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    overflow: hidden;
}

h1 {
    font-family: @subFontFamily;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    color:@colorTwo;
}

h2 {
    font-family: @subFontFamily;
    font-size: 1.25em;
    font-weight: bold;
    color:@colorTwo;
}

h3 {
    font-family: @subFontFamily;
    font-size: 1.1em;
    font-weight: bold;
    color:@colorTwo;
}

p{
    font-family: @subFontFamily;
    font-size: 1em;
    color:@mainFontColor;
    line-height: 1.5em;
}

/*************
*
*  Content layout
*
*************/

#text_nav,
#events_nav {
    background-color: white;
    width: 100%;
}

#animation_nav {
    background-color: white;
    width: 100%;
    height: 1400px;
}

/*************
*
*  Footer
*
*************/

#footer_nav {
    background-color: @colorOne;
    /*border-top: 10px solid white;*/
    min-height: 25vh;
    background-position: left bottom;
    background-size: 25%;
    background-repeat: no-repeat;
    color: white;
}

#footer_nav p
{

  color: white;
  
}

#createdBy {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 250;
    width: 30px;
    height: 30px;
    background-image: url("../images/rtlLogo.jpg");
    background-size: 30px 30px;
    -webkit-box-shadow: 5px 5px 8px -6px rgba(0, 0, 0, 0.6) !important;
    -moz-box-shadow: 5px 5px 8px -6px rgba(0, 0, 0, 0.6) !important;
    box-shadow: 5px 5px 8px -6px rgba(0, 0, 0, 0.6) !important;
    cursor: pointer;
}

#socialMedia {
    position: relative;
    padding-top: 10px;
}

#socialMedia div
{
  margin-right: 25px;  
}

#socialMedia #email {
    position: relative;
    width: 104px;
    height: 104px;
   /* background-image: url("../images/icon-email.png");*/
    float: left;
    cursor: pointer;
}

#socialMedia #twitter {
    position: relative;
    width: 104px;
    height: 104px;
   /* background-image: url("../images/icon-twitter.png");*/
    float: left;
    cursor: pointer;
}

.contactText {
	width: 100%;
	display: block;
	line-height: 1.6;
}

/*************
*
*  Background images
*
*************/

#topImage {
    height: 100vh;
}

#topImageMobile
{
  display: block;
  width:200px;
  height:200px;
}

#image2 {
   /* background-image: url("../images/background-heatpress.jpeg");*/
}

#image3 {
    background-image: url("../images/backgroundThree.jpg");
}

.backgoundImageOne
{
  background-image: url("../images/backgroundImageOne.jpg");
}

.backgoundImageTwo
{
  background-image: url("../images/backgroundImageTwo.jpg");
}

.backgoundImageThree
{
  background-image: url("../images/backgroundImageThree.jpg");
}

.backgoundImageFour
{
  background-image: url("../images/backgroundImageFour.jpg");
}

/*************
*
*  Text layout
*
*************/

.oneColumns {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 1em;
    background-clip: content-box;

    .equalColumns(@desktopBreak;
    12;
    0;
    @float: none;
    0;
    true);
}

.twoColumns {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 1em;
    background-clip: content-box;
    .equalColumns(@desktopBreak;
    12;
    0;
    @float: none;
    0;
    true);
}

.threeColumns {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 1em;
    background-clip: content-box;
    .equalColumns(@desktopBreak;
    12;
    );
}

.fourColumns {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 1em;
    background-clip: content-box;
    .equalColumns(@desktopBreak;
    3;
    10;
    @float: left;
    0;
    true);
}

.fiveColumns {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 1em;
    background-clip: content-box;
    .equalColumns(@desktopBreak;
    (12/5);
    10;
    @float: left;
    0;
    true);
}

/*************
*
*  Contact Form
*
*************/

#name-error, #email-error, #phoneNumber-error, #whatTheyNeed-error
{
	display: block;
  padding: 3px 0 3px 0;
}

#name, #email, #phoneNumber, #whatTheyNeed
{
 /* width: 100%;*/
}

.formControl {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  margin: 5px 0 10px 0;
}

textarea.formControl {
	height: 140px;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-primary {
	color: #fff;
	background-color: @colorAlt;
	border-color: @colorAltDarken;
}

#footer_nav .twoColumns > .column {
	margin-bottom: 31px;
}
#mobileMenu {
    position: fixed;
    top: 5px;
    left: 5px;
    max-width: 450px;
    height: 50px;
    width: 50px;
    z-index: 125;
}

#mobileMenu .burgers
{
  width: 45px;
  height: 5px;
  background-color: @colorAlt;
  margin: 6px 0;
}

#mainMenu {
    position: fixed;
    top: 48px;
    left: 0px;
    width: 100%;
    font-family: @mainMenuFontFamily;
    font-size: 22px;
    font-weight: normal;
    z-index: 1000;
    background-color: @colorOne;
    display: none;
}

.mainMenuDefault {}

.mainMenuInside {}

#mainMenu ul {
    padding: 0px;
    margin: 0px;
}

#mainMenu ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: thin solid;
}

#mainMenu ul li:first-child {
    display: block;
    padding-bottom: 5px;
    border-bottom: thin solid;
}

#mainMenu ul li a {
    padding-left: 25px;
    padding-bottom: 15px;
    text-decoration: none;
    color: @colorAlt;
}

#mainMenu ul li a:hover {}


/* visited link */

#mainMenu ul li a:visited {
    color: @colorAlt;
}


/* selected link */

#mainMenu ul li a:active {}

#mainMenu ul li ul {
    padding: 0;
    position: relative;
    top: 0px;
    left: 0;
}

#mainMenu ul li ul li:first-child {
    display: block;
    border-bottom: none;
}

#mainMenu ul li ul li {
    background: @colorOne;
    display: block;
    font-family: @mainMenuFontFamily;
    font-size: 16px;
    font-weight: bold;
    height: 22px;
    text-align: left;
    padding-left: 20px;
    border-bottom: none;
}

#mainMenu ul li ul li:hover {
    background: @colorAlt;
}